.home_container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 4rem 10rem;
}


/* .hero_title{

} */

.sub{
  font-family: 'CormorGaramondant ', serif;
  font-size: 1rem;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.title{
  margin-top: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 5rem;
  line-height: .99;
  color: hsl(39, 42%, 91%);
  max-width: 40rem;
}
.highlight{
  color: var(--highlight-color);
}
.description{
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  color: var(--text-color);
  max-width: 32rem;
  margin-top: -0.8rem;
}
.linkcards_container{
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}