.buscar_container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 4rem 10rem;
}
.sub{
  font-family: 'jost', serif;
  font-size: 1.125rem;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  
}
.title{
  margin-top: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 5rem;
  line-height: .99;
  color: hsl(39, 42%, 91%);
  max-width: 40rem;
}
.highlight{
  color: var(--highlight-color);
}
.description{
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  color: var(--text-color);
  max-width: 32rem;
  margin-top: -1.2rem;
}

.buscar_input{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.buscar_input input{
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5rem;
  max-width: 600px;
  border: 1px solid var(--navbar-line);
  background-color: var(--linkcard-background-color);
  color: var(--text-color);
}
.buscar_input:focus-within input{
  outline: 2px solid var(--main-color);
}
.btn{
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5rem;
  background-color: var(--main-color);
  color: var(--linkcard-background-color);
  border: none;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.default_search{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
}
.default_search span{
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--linkcard-background-color);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
}
.default_search span:hover{
  background-color: var(--main-color);
  color: var(--linkcard-background-color);
  transition: all 0.3s ease-in-out;
}
.btn:hover{
  background-color: var(--highlight-color);
  transition: all 0.3s ease-in-out;
}
.buscar_content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-auto-rows: auto;
  gap: 2rem;
}