.linkcard{
  background-color: var(--linkcard-background-color);
  border-radius: 1rem;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
  border: 1px solid var(--navbar-line);
}
.linkcard_subtitle{
  font-family: 'jost', serif;
  font-size: 1.25rem;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.linkcard_title{
  margin-top: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  max-width: 40rem;
  line-height: .99;
  color: hsl(39, 42%, 91%);
}
.linkcard_description{
  font-family: 'Jost', sans-serif;
  font-size: 1.125rem;
  color: var(--text-color);
  max-width: 32rem;
  margin-top: -0.8rem;
}
.linkcard_link{
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  color: var(--main-color);
  text-decoration: underline;
  margin-top: 2rem;

}