<section class="indice_container">
  <div class="Buscador">
    <span class="sub">02 - Por letra</span>
    <h1 class="title">Platillo por Letras</h1>

    <div class="default_indice">
      @for (letter of letters; track letter) {
        <span [class.activa]="letter === letraActiva()">
          <a (click)="buscarPorLetra(letter)">{{ letter }}</a>
        </span>
      }
    </div>
  </div>

  <div class="api_content">
    @for (meal of meals(); track meal.idMeal) {
      <app-card
        [title]="meal.strCategory"
        [image]="meal.strMealThumb"
        [description]="meal.strMeal"
        [cuisine]="meal.strArea"
      />
    } 
  </div>
</section>
