.random_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 4rem 10rem;
}

.sub {
  font-family: 'jost', serif;
  font-size: 1rem;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: -5rem;
}
.title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 5rem;
  line-height: 0.99;
  color: hsl(39, 42%, 91%);
  max-width: 40rem;
}
.highlight{
  color: var(--highlight-color);
}
.btn{
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5rem;
  background-color: var(--main-color);
  color: var(--linkcard-background-color);
  border: none;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--highlight-color);
  transition: all 0.3s ease-in-out;
}
.random_image{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -3.2rem;
}