<section class="random_container">
  <div class="random">
    <span class="sub">03 - SUGERENCIA DEL CHEF</span>

    <div class="random_image">
      <h1 class="title">Un platillo al <span class="highlight">azar</span></h1>

      <button class="btn" (click)="busquedaAleatoria()">Otro platillo</button>
    </div>
  </div>

  <div class="random_content">
    @if (meal(); as m) {
      <div class="left">
        <img [src]="m.strMealThumb" [alt]="m.strMeal" class="img" />
      </div>

      <div class="right">
        <div class="top">
          <div class="info">
            <span class="category">{{ m.strCategory }}</span>
            @if (m.strArea) {
              <span class="country">{{ m.strArea }}</span>
            }
          </div>
          <div class="name">
            <h1 class="meal_name">
              {{ m.strMeal }}
            </h1>
          </div>

          <div class="details">
            <div class="ingredientes">
              <h2>Ingredientes</h2>

              @for (item of ingredientes(); track item.nombre) {
                <p><span>─</span> {{ item.nombre }} ─ {{ item.medida }}</p>
              }
            </div>

            @if (m.strYoutube) {
              <a [href]="m.strYoutube" target="_blank" class="link">Ver video de preparacion →</a>
            }
          </div>
        </div>
      </div>
    }
  </div>
</section>
